In [6]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from os import getcwd
from os.path import join
import pymongo
import pprint
import selenium
import time
import json
import pandas as pd

# Connect to MongoDB through Heroku
#conn = "mongodb://admin:admin@ds243285.mlab.com:43285/heroku_rzntsg65"
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)


db = client.nasa
news = db.news

In [7]:
url = 'https://mars.nasa.gov/news/'
# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [8]:
news = soup.find("div", class_="slide")
print(news)

<div class="slide">
<div class="image_and_description_container">
<a href="/news/8442/nasas-curiosity-mars-rover-finds-a-clay-cache/">
<div class="rollover_description">
<div class="rollover_description_inner">
The rover recently drilled two samples, and both showed the highest levels of clay ever found during the mission.
</div>
<div class="overlay_arrow">
<img alt="More" src="/assets/overlay-arrow.png"/>
</div>
</div>
<img alt="NASA's Curiosity Mars Rover Finds a Clay Cache" class="img-lazy" data-lazy="/system/news_items/list_view_images/8442_PIA23240_32x24.jpg" src="/assets/loading_320x240.png"/>
</a>
</div>
<div class="content_title">
<a href="/news/8442/nasas-curiosity-mars-rover-finds-a-clay-cache/">
NASA's Curiosity Mars Rover Finds a Clay Cache
</a>
</div>
</div>

In [9]:
news_title = news.find("div", class_='content_title').text.strip()
news_p = news.find('div', class_='rollover_description_inner').text.strip()
print("----------------")
print(news_title)
print(news_p)

----------------
NASA's Curiosity Mars Rover Finds a Clay Cache
The rover recently drilled two samples, and both showed the highest levels of clay ever found during the mission.

In [10]:
#executable_path = {'executable_path': '/users/lisa/chromedriver.exe'}
executable_path = {'executable_path': './chromedriver.exe'}
browser = Browser('chrome', **executable_path)
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(5) 
browser.click_link_by_partial_text('more info')
time.sleep(5) 

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

img_link = soup.find('img', class_='main_image')

main_url='www.jpl.nasa.gov'
featured_image_url = main_url + img_link['src']
featured_image_url

'www.jpl.nasa.gov/spaceimages/images/largesize/PIA18273_hires.jpg'

In [11]:
url='https://twitter.com/marswxreport?lang=en'
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')
mars_weather = soup.find('p',class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
mars_weather

'I’d say a plutonium-238 powered RTG qualifies the Curiosity and Mars2020 rovers as alternative fuel vehicles. You can explore these and other missions, rockets and more with JPL’s Spacecraft AR for IOS and Androhttps://www.jpl.nasa.gov/apps/pic.twitter.com/f4SheTlQyY'

In [12]:
url='https://space-facts.com/mars/'
table = pd.read_html(url)
table

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [13]:
df=table[1]
df.columns = ['Description', 'Value']
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [15]:
db.news.drop()
db.news.insert_one({"news_title":news_title,"news_p":news_p,"mars_weather":mars_weather,"html_table":html_table})

In [16]:
#executable_path = {'executable_path': '/users/lisa/chromedriver.exe'}
executable_path = {'executable_path': './chromedriver.exe'}
browser = Browser('chrome', **executable_path)
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
soup = BeautifulSoup(html, 'html.parser')
div=soup.find_all('h3').text()
# title=div.find_all('h3').text
# print(title)
div

AttributeError: ResultSet object has no attribute 'text'. You're probably treating a list of items like a single item. Did you call find_all() when you meant to call find()?

In [17]:
browser.click_link_by_partial_text('Cerberus Hemisphere Enhanced')
time.sleep(5) 
browser.click_link_by_partial_text('Open')
time.sleep(5)
html = browser.html


img_link = soup.find('img', class_='wide-image')

main_url='https://astrogeology.usgs.gov'
featured_image_url = main_url + img_link['src']
featured_image_url

TypeError: 'NoneType' object is not subscriptable

In [18]:
 html = browser.html
soup = BeautifulSoup(html, 'html.parser')

img_link = soup.find('img', class_='main_image')

main_url='www.jpl.nasa.gov'
featured_image_url = main_url + img_link['src']
featured_image_url

TypeError: 'NoneType' object is not subscriptable

In [ ]:
@app.route("/")
def index():
    hurricanes = list(db.collection.find())
    print(hurricanes)
    return render_template("index.html", hurricanes=hurricanes)


if __name__ == "__main__":
    app.run(debug=True)